.dash-container {
  display: flex;
  height: 100vh;
}

.dash-main {
  flex: 1;
  background: #fafafa;
  padding: 30px 40px;
}

.dash-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.row {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.panel-box {
  flex: 1;
  height: 320px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}
