.dashboard-content {
  margin-left: 80px;
  padding: 30px 40px;
}

.cards-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.big-box-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
  margin-top: 30px;
}

.big-box {
  height: 320px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 25px rgba(0,0,0,0.05);
}
