.sidebar {
  width: 90px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  border-right: 1px solid #ececec;
}

.side-item {
  width: 60px;
  height: 60px;
  background: #fafafa;
  border-radius: 14px;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  cursor: pointer;
}

.side-item.active {
  background: #007aff;
  color: white;
}
