.stat-card {
  background: #ffffff;
  border-radius: 18px;
  padding: 22px 26px;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 0px 4px 25px rgba(0,0,0,0.05);
}

.stat-value {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 6px;
}

.stat-title {
  font-size: 16px;
  font-weight: 400;
  color: #777;
}
