.summary-row {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.card {
  flex: 1;
  background: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 0 30px rgba(200, 200, 200, 0.4);
}

.label {
  font-size: 16px;
  color: gray;
}

.value {
  font-size: 28px;
  font-weight: 600;
  margin-top: 10px;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus {
  font-size: 40px;
  color: #007aff;
  font-weight: bold;
}
