.topbar {
  width: 100%;
  background: white;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(200, 200, 200, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 26px;
  cursor: pointer;
}
