/* GLOBAL FONT */
* {
  font-family: "SF Pro", "Noto Sans KR", Arial, sans-serif !important;
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'SF Pro', sans-serif;
  background-color: #ffffff;
}
