.sidebar {
  width: 80px;
  background: #ffffff;
  height: 100vh;
  border-right: 1px solid #e7e7e7;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 140px;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon.active {
  background: #ffe04b;
}
