.topbar {
  height: 80px;
  background: #fff;
  margin-left: 80px;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
}

.left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.left h2 {
  font-size: 28px;
  font-weight: 600;
}

.right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.profile-circle {
  width: 38px;
  height: 38px;
  background: #d9d9d9;
  border-radius: 50%;
}
